<div id="header-block">
  <img id="header-banner-image" src="https://via.placeholder.com/500x100.png?text=EZ Work Orders" alt="EZ Work Orders">
  <span id="header-nav">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
    <a href="/login">Log in</a>
  </span>
</div>
